.xing-top:hover {
    color: #b8d142 !important;
}

.facebook-top:hover {
    color: #3f5a93 !important;
}

.linkedin-top:hover {
    color: #2c77b0 !important;
}

.push-bottom-20 {
    margin-top: 20px !important;
}

.push-bottom-10 {
    margin-top: 10px !important;
}

.tinted-image {
    background:
        /* top, transparent red, faked with gradient */
            linear-gradient(
                    rgba(184, 209, 66, 0.45),
                    rgba(184, 209, 66, 0.45)
            ),
                /* bottom, image */
            url("../images/bg-01-1920x1000.jpg");
}

.styleBox-start {
    padding-bottom: 30px;
    padding-top: 10px;
    border: 2px solid #e2e2e22e;
    background-color: #9e9e9e2e;
    box-shadow: 5px 10px 30px #c5c5c538;
}

.mobile_adapt-button {
    display: block;
}

.rd-navbar-default.rd-navbar-static.rd-navbar--is-stuck {
    background: rgba(0, 0, 0, 0.42);
}

.rd-navbar-default.rd-navbar-static.rd-navbar--is-stuck .rd-navbar-panel {
    border-bottom-color: #727272;
}