@media (max-width:375px){

    .styleBox-start {
        margin-left: -14px !important;
    }

    .style_mobile-swiperBox {
        margin-left: 24px;
        width: 90%;
    }

    .style_ueber-bottom {
        padding-right: 40px;
        padding-left: 40px;
    }

    .section-xl {
        padding-bottom: 10px !important;
    }

    .style9128 {
        padding-left: 45px;
    }

}