@media (max-width:414px){

    .rd-navbar-default.rd-navbar-fixed .rd-navbar-button .btn {
        top: 77px !important;
    }

    .mobile_adapt-button {
        display: none;
    }

    .bg-red-base{
        background: #ff1654 !important;
    }

    .bg-transparent-base {
        background: transparent !important;
    }

    .rd-navbar-default.rd-navbar-fixed, .rd-navbar-default.rd-navbar-fixed .rd-navbar-panel {
        height: 76px !important;
        background-color: #ffffff;
    }

    .pull-top-xs-65 {
        margin-top: -60px !important;
    }

    .style_mobile-swiperBox {
        margin-left: 23px;
        width: 90%;
    }

}