.xing-top:hover {
    color: #b8d142 !important;
}

.facebook-top:hover {
    color: #3f5a93 !important;
}

.linkedin-top:hover {
    color: #2c77b0 !important;
}

.push-bottom-20 {
    margin-top: 20px !important;
}

.push-bottom-10 {
    margin-top: 10px !important;
}

.tinted-image {
    background:
        /* top, transparent red, faked with gradient */
            linear-gradient(
                    rgba(184, 209, 66, 0.45),
                    rgba(184, 209, 66, 0.45)
            ),
                /* bottom, image */
            url("../images/bg-01-1920x1000.jpg");
}

.styleBox-start {
    padding-bottom: 8px;
    padding-top: 8px;
    border: 2px solid #e2e2e22e;
    background-color: #9e9e9e2e;
    box-shadow: -3px 4px 5px #c5c5c5a6;
    max-width: 520px !important;
    background: rgba(56, 143, 200, 0.84);
}

.mobile_adapt-button {
    display: block;
}

.rd-navbar-default.rd-navbar-static.rd-navbar--is-stuck {
    background: #ffffff;
}

.rd-navbar-default.rd-navbar-static.rd-navbar--is-stuck .rd-navbar-panel {
    border-bottom-color: #ffffff;
}

.terms-list-bordered {
    text-align: left;
}

.terms-list-bordered dt {
    font-size: 22px;
}

.terms-list-bordered dt {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 4.14286rem !important;
    line-height: 1.45;
    letter-spacing: 0;
    padding-bottom: 12px;
}

.terms-list-bordered dt + dd {
    margin-top: 20px;
}

.terms-list-bordered dd {
    color: #999;
}

.terms-list-bordered dd + dt {
    margin-top: 50px;
}

.box-spacer {
    padding: 35px 25px;
    background: #e8eddf;
}

.range-75 {
    position: relative;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    margin-bottom: -40px;
}

@media (min-width: 992px) {
    .range-75 {
        position: relative;
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        margin-bottom: -50px;
    }
}

@media (min-width: 1200px) {
    .range-75 {
        position: relative;
        -webkit-transform: translateY(-75px);
        transform: translateY(-75px);
        margin-bottom: -75px;
    }
}

/*@media (min-width: 992px) {*/
    /*.section-xl {*/
        /*padding: 100px 0;*/
    /*}*/
/*}*/

/*@media (min-width: 768px) {*/
    /*.section-xl {*/
        /*padding: 70px 0;*/
    /*}*/
/*}*/

.section-xl {
    padding: 170px 0;
}

.range-75 > * {
    margin-top: 40px;
}

.bg-periglacial-blue {
    background-color: #e8eddf;
}

.bg-white .box-spacer {
    background: #fff;
}

.terms-list-bordered dt:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #eff3f1; }


.center-bg {
    background-position: center;
    background-size: 10%;
}

.sytle_bottomLogo-UU {
    margin-top: -22px;
    padding-bottom: 60px;
    font-weight: lighter;
    font-size: 24px;
    font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
    color: #737373;
}

.style_head {
    font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: 400 !important;
    font-size: 3.71429rem;
    line-height: 1.23077;
}
.style_head3 {
    font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: 400 !important;
    font-size: 3.71429rem;
    line-height: 1.23077;
}

.style_head2 {
    font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: 200 !important;
    font-size: 3.14286rem !important;
    line-height: 1.18182;
}

.push-top-160 {
    margin-top: -160px;
}

.push-top-50 {
    margin-top: -50px;
}

.box-150 {
    padding: 6px;
}

@media only screen and (min-width: 768px) {
    .box-150 {
        padding: 12px;
    }
}

@media only screen and (min-width: 984px) {
    .box-150 {
        padding: 24px;
    }
}

.headline-logo-50 {
    hyphens: none;
    font-size: 15px;
    font-weight: 700;
    font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
    color: black;
}

.padding-top-12 {
    padding-top: 12px;
}

.logo-list {
    display: inline-block;
    max-width: 650px;
}

@media only screen and (min-width: 984px) {
    .box-145 {
        padding: 0 24px;
    }
}

@media only screen and (min-width: 768px){
    .box-145 {
        padding: 0 12px;
    }
}

.box-145 {
    padding: 0 6px;
}

.logo-list li {
    display: inline-block;
    margin: 0 10px;
    overflow: hidden;
}

.logo-list li img {
    display: inline-block;
    width: 120px;
    /*height: 42px;*/
}

/*.logs img {*/
    /*margin: 0 -913px 0 -2px;*/
/*}*/

.text-color-bblue-helv {
    color: #f5f5f6 !important;
    font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: 400 !important;
    font-size: 25px !important;
}

.text-top-helv {
    color: #f5f5f6 !important;
    font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
    margin-top: -20px;
}

.btn-job-top {
    color: #f5f5f6;
    background-color: transparent !important;
    border-color: transparent !important;
    font-weight: 200 !important;
    font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
}

.btn-job-bottom-traum {
    color: #f5f5f6;
    background-color: #388fc8 !important;
    border-color: #388fc8 !important;
    font-weight: 200 !important;
    font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
}

.btn-job-2 {
    color: #2d6aae;
    background-color: #dab43c !important;
    border-color: #dab43c !important;
    font-weight: 200 !important;
    font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
}

.btn-job-top:hover {
    color: #f5f5f6;
    background-color: transparent !important;
    border-color: transparent !important;
    font-weight: 200 !important;
    font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
}
.btn-job-bottom-traum:hover {
    color: #fcfcfc;
    background-color: #2e73b9 !important;
    border-color: #2e73b9 !important;
    font-weight: 200 !important;
    font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
}

.btn-job-2:hover {
    color: #295898;
    background-color: #cba53a !important;
    border-color: #cba53a !important;
    font-weight: 200 !important;
    font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
}

.responsive-tabs-classic[data-type="horizontal"] .resp-tabs-list li:before {
background-color: #388fc8 !important;
}

.swiper-container {
    height: 60vh !important;
}

.ui-to-top {
 color: #618bb7 !important;
    z-index: 999;
}

.ui-to-top:hover {
    background: rgba(245, 245, 246, 0);
    border-color: #2e73b9;
}

#footer {
    font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
    margin-top: 20px;
    background-color: #3c3c3c;
}

@media (max-width: 767px) {


    #footer .mobileFooter {
        position: static;
        background: #3c3c3c;
        width: 100%;
        bottom: 0;
        margin: 0;
        z-index: 2;
        height: 60px;
    }

    .visible-xs {
        display: block!important;
    }

    #footer .mobileFooter .system-navi .barbur {
        padding: 10px 0 0;
        text-align: center;
    }

    #footer .barbur {
        list-style: none;

    }

    #footer .mobileFooter .system-navi .barbur .barbir {
        display: inline;
    }

    #footer .barbur .barbir {
        padding: 0;
    }

    #footer .mobileFooter .system-navi .barbur .barbir .barbar {
        color: #e2e2e2;
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
    }

    #footer .mobileFooter .system-navi .barbur .barbir .pipe {
        font-size: 9px;
        margin: 0 8px;
        border-right: 1px solid #e2e2e2;
    }

}

#system-navi {
    font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
    background-color: #3c3c3c;
}

#legalbar {
    font-family: ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
    background-color: #3c3c3c;
}

#system-navi .sysNavLink {
    margin-right: 20px;
    color: #e2e2e2;
    font-size: 14px;
    font-weight: 400;
    line-height: 48px;
}

#legalbar .copyright {
    margin-right: 20px;
    color: #e2e2e2;
    font-size: 14px;
    font-weight: 400;
    line-height: 48px;
}

.pull-left-35 {
    margin-left: -35px !important;
}

.style_ueber-bottom {
    padding-right: 40px;
    padding-left: 40px;
}

.icon-default {
    color: #388fc8;
}


